@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Ubuntu:ital,wght@0,400;1,700&display=swap');
:root{
    --primary-color: #196EB5;
    --secondary-color:#3F4756;
    --accent1-color: #A3ACBD;
    --accent2-color: #89651D;
  
    --heading-font: 'Ubuntu', sans-serif;
    --paragraph-font: 'Open Sans', sans-serif;
  
    --nav-background-color:#a3acbd44;
    --nav-link-color: #89651D;
    --nav-hover-link-color: #3F4756;
    --nav-hover-background-color: #C1984F;
}

h1, h2, h3, h4, h5, h6{
  font-family: var(--heading-font);
  color: var(--primary-color);
  padding: 10px;
  text-align: center;
  font-size: 30px;
  margin: 0 auto;
}

h1 {
  font-weight: 700;
  font-style: italic;
  font-size: 40px;
}

p{
  padding: 10px;
  font-family: var(--paragraph-font);
  max-width: 960px;
  color:black;
  font-size: 20px;
} 

body{ 
  max-width: 900px;
}

div.hero{
  position: relative;
  height: auto;
  width: 100%;
}

div.hero h1 {
  position: absolute;
  top: 90px;
  background-color: rgba(208, 224, 228, 0.866);
  width: 100%;
  padding-right: 0;
  padding-left: 0;
}

div.hero article {
  position: absolute;
  background-color:rgba(208, 224, 228, 0.866);
  top: 160px;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
} 

div.hero article img{ 
  float:right;
  width: 20%;
  padding: 25px;
  border-radius:2.5em;
}

.header {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 2fr;
}

.header img {
  grid-column:1/2;
  width: 110px;
  height: auto;
}

.header nav {
  grid-column: 3/4;
  text-align: right;
}

footer {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  align-items: end;
  justify-items: start;
}

footer p {
  grid-column: 1/2;
  padding: 0px;
}

footer img {
  width: 30px;
  padding: 10px;
}

footer nav {
  grid-column: 3/3;
}


header nav{
  font-size: 12px;
  display: flex;
  float: right;
  margin: 1rem;
}

header nav a{
  display: block;
  text-decoration:none;
  padding: 1rem;
  font-family: var(--paragraph-font);
  color:var(--primary-color);
  font-size: 30px;
}

header nav a:hover {
  background-color:var(--nav-background-color);
}

section h2 { 
  text-align: center;
}

.adventure {
  display: grid;
  padding: 10px;
  align-items: center;
  justify-items: center;
  justify-content: stretch;
  grid-template-columns: repeat(5, 1fr);
}

.adventure img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 1.2em;
}

figure{
  margin: 10px;
}

figcaption {
  text-align: center;
  font-family: var(--paragraph-font);
  color: black;
  font-size: 20px;
}

.team {
  display: grid;
  padding: 10px;
  align-items: center;
  justify-items: center;
  justify-content: stretch;
  grid-template-columns: repeat(3, 1fr);
}

.team img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 1.5em;
}

.introduction h1{
  font-style: normal;
}

.introduction {
  background-color: var(--nav-background-color);
  height: 12rem;
  text-align: center;
}

form {
  width: fit-content;
  margin: 0 auto;
  padding: 5px;
  background-color:var(--nav-background-color);
  display: grid;
}

fieldset {
  display: grid;
  grid-gap: 0.5rem;
  padding: 1rem;
  border: none;
}

input, label, select, textarea, button {
  height: 1.5rem;
  font-family: var(--paragraph-font);
  font-size: 20px;
  padding: 0.5rem;
  border-radius:0.5rem;
 }

textarea{
  height: 6rem;
  width: 40rem;
}


input[type="checkbox"] {
  height: 1.5rem;
  width: 1.5rem;
  vertical-align: bottom;
}

.form-item {
  display: grid;
  align-items: center;
}

.column1 {
  grid-template-columns: 0.5fr 2fr 0.5fr 2fr 0.5fr 2fr;
  margin: 0 auto;
}

.column2 {
  display:block;
}

button {
  background-color: var(--primary-color);
  color: #ffffff;
  border-radius: .5rem;
  padding: 10px;
  font-size: 25px;
  font-family: var(--paragraph-font);
  font-weight: 700;
  width: 150px;
  height: fit-content;
  text-align: center;
  margin: 0 auto;
}

button:hover {
  background-color: var(--nav-hover-background-color);
}

.USA {
  font-size: 20px;
  font-weight: 600;
}

.info{
  width: fit-content;
}

.headquarters{
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

