@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Poppins&family=Young+Serif&display=swap');

:root{
    --heading-font: 'Poppins', sans-serif;
    --heading2-font:'Young Serif', serif;
    --paragraph-font: 'Lora', serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--paragraph-font);
}

nav {
    background-color: steelblue;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color:white;
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 500; 
    font-family: var(--heading-font);
    text-align: center;  
}

h1 {
    color:steelblue;
    margin: 1rem;
    font-family: var(--heading-font);
    border-bottom: 1px solid steelblue;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rem;
}

p{
    padding: 0;
    margin: 1rem;
}

aside {
    width: 20em;
    text-align: center;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}

aside img {
    width: 200px;
    height: auto;
    margin: 4rem 0 1rem 1rem;
}

main {
    grid-column: 2/3;
    margin: 1rem;
}

header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
    font-family: var(--paragraph-font);
}

footer {
    margin-top: 1em;
    border-top: 1px solid steelblue;
    text-align: center;
}

/*Class Selectors*/

.box {
    margin: 1rem;
    border: 1px solid rgba(240, 161, 16, 0.2);
    padding: 1rem;
    background-color: #ca911f3d;
    color: #050505;
    
}

aside h2 {
    position: absolute;
    top: 2px;
    right: 40px;
    font-family: var(--heading2-font);

}

.indent{
    padding-left: 2rem;
}

.grid {
display: grid;
align-items: center;
}

