* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: steelblue;
    padding: 10px;
}

nav a {
    color:white;
    display: block;
    padding: 10px;   
}

h1 {
    color:steelblue;
    margin: 1rem;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rem;
}

p{
    padding: 0;
    margin: 1rem;
}

main{
    max-width: 840px;
}

aside {
    width: 20em;
    text-align: center;
    position: relative;
}

aside img {
    width: 200px;
    height: auto;
    margin: 3rem 0 1rem 1rem;
}

footer {
    margin-top: 1em;
    border-top: 1px solid steelblue;
    text-align: center;
}
/*Class Selectors */

.box {
    margin: 1rem;
    border: 1px solid rgba(240, 161, 16, 0.2);
    padding: 1rem;
    background-color: #ca911f3d;
    color: #050505;
}

aside h2 {
    position: absolute;
    top: 2px;
   right: 40px;

}
.indent{
    padding-left: 2rem;
}
